<link
 href="https://fonts.googleapis.com/icon?family=Material+Icons"
 rel="stylesheet"
/>
<!-- Compiled and minified CSS -->
<link
 rel="stylesheet"
 href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<nav>
  <div class="nav-wrapper">
    <form class="" #createForm="ngForm" (ngSubmit)="search()">
      <div class="input-field hello">
        <input id="search" type="search" required input-type="text" class="form-control " name="tag" [(ngModel)]="tag" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>

        <i class="material-icons">close</i>
      </div>

    </form>
  </div>
</nav>

<div *ngFor="let question of fetch" class="col-lg-4">
  <mat-card class="example-card" style="background-color: rgb(206, 255, 191)">
    <mat-card-header style="height: 15vh;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{question.questionTitle}}</mat-card-title>
      <mat-card-subtitle>{{question.questionDescription}}</mat-card-subtitle>
      <mat-card-subtitle>{{question.difficulty}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions style="padding-left:8vw;padding-bottom:2vh">
      <button mat-raised-button [routerLink]="['/execution',question.questionId]">ATTEMPT</button>
    </mat-card-actions>
  </mat-card>
</div>