<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact Us</h5>
        <p class="grey-text text-lighten-4">mail: mashup@gmail.com</p>
        <p class="grey-text text-lighten-4">phone: +91 8971452365</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul class="navbar-nav navbar-right" align="center">
            <h5 class="white-text">Follow Us</h5>
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />
          <span class="fa-stack fa-lg">
            <i class="fa fa-google fa-stack-1x" style="color:firebrick"> </i>
          </span>
          <span class="fa-stack fa-lg">
            <i
              class="fa fa-facebook fa-stack-1x"
              style="color:rgba(0, 0, 255, 0.774)"
            >
            </i>
          </span>
          <span class="fa-stack fa-lg">
            <i class="fa fa-twitter fa-stack-1x" style="color:brown"> </i>
          </span>
          <span class="fa-stack fa-lg">
            <!-- <i class="fa fa-linkedin fa-stack-1x" style="color:mediumblue"></i> -->
          </span>
        </ul>
        
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright Text
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>