.nav-wrapper{
    background-color: skyblue;
}
img{
    width: 64px;
    padding-bottom: 5px;
}
.input-field{
    margin: 0%;
    height: 64px;
}
.second-bar{
    margin-left: 135px;
    height: 60px;
}
.material-icons{
    font-size: 40px;
    color: skyblue;
    
}
#search{
    margin: 0%;
    background-color: whitesmoke;
    background-position: center top;
}
.flex-container{
    display: flex;
    
}
.navhover:hover{
    color: rgb(75, 44, 4);
    text-decoration: none;
    font-size: 20px;
}