<div *ngIf="info.token; else loggedOut">
  <nav class="navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mashup</a>
      </div>
      <ul class="nav navbar-nav navbar-right" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/post', info.username]">Post Question</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/userprofile']">Profile</a></li>
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/execution']">Execution</a></li> -->
        <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<ng-template #loggedOut>
  <nav class="navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mashup</a>
      </div>
      <ul class="nav navbar-nav navbar-right" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="home">Practice</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/fetch']">Contact Us</a></li>
        <li *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="auth/login"><span class="glyphicon glyphicon-log-in"> </span>
            Login/Signup</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>