<div *ngIf="info.token; else loggedOut">
  <!-- <div class="row col-lg-12">
    
  </div> -->
  <app-recommend>        
  </app-recommend>
  <!-- <div class="row col-lg-12">
    <p>
      We provide timely, specialised veterinary care to injured urban wild
      animals, rehabilitate them, and then release them into their natural or
      adoptive habitats. Create awareness, amongst citizens of all ages and
      backgrounds, about urban wildlife, and to instil a deep regard for their
      cohabitation needs and when to actively engage in their welfare. Community
      outreach and education about our local environment and how we can enrich
      and protect it. Develop a practise that employs better wildlife care
      techniques, engaging specialists and veterinarians from across the world.
    </p>
  </div> -->

  <!-- More Pictures aside section -->
  
</div>

<ng-template #loggedOut>
  
  <app-landing></app-landing>
  <!-- -------------------------- -->
  <div id="band" class="container text-center">
    <!-- <div class="jumbotron">
      <h1>Happy Coding!</h1>
      <p><em>Place to the people who love to code!! Keep coding</em></p>
    </div>
    <p>
      We provide timely, specialised veterinary care to injured urban wild
      animals, rehabilitate them, and then release them into their natural or
      adoptive habitats. Create awareness, amongst citizens of all ages and
      backgrounds, about urban wildlife, and to instil a deep regard for their
      cohabitation needs and when to actively engage in their welfare. Community
      outreach and education about our local environment and how we can enrich
      and protect it. Develop a practise that employs better wildlife care
      techniques, engaging specialists and veterinarians from across the world.
    </p>
    <br /> -->
    <!-- More Pictures aside section -->

    
  </div>
</ng-template>