  <div class="homecontainer" *ngIf="info.token; else loggedOut">
      <div class="post">
          <button class="btn btn-success"  [routerLink]="['/post',info.username]" >PostQuestion</button>
        </div>
        <div class = "logout">
            <button class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
        <div class = "execut">
            <button class="btn btn-success" [routerLink]="['/execution']">execution</button>
        </div>
        <div class = "userprofile">
          <button class="btn btn-primary" [routerLink]="['/userprofile']">userprofile</button>
        </div>

        <div id="band" class="container text-center">
            <div class="jumbotron">
                <h1>Happy Coding!</h1>
                <p><em>Place to the people who love to code!! Keep coding</em></p>
            </div>
            <p>We provide timely, specialised veterinary care to injured urban wild animals, rehabilitate them, and then
                release them into their natural or adoptive habitats. Create awareness, amongst citizens of all ages and
                backgrounds, about urban wildlife, and to instil a deep regard for their cohabitation needs and when to
                actively engage in their welfare. Community outreach and education about our local environment and how we
                can enrich and protect it.
                Develop a practise that employs better wildlife care techniques, engaging specialists and veterinarians
                from across the world.</p>
            <br>
    
    
            <!-- More Pictures aside section -->
    
            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="https://media.giphy.com/media/cpIvoQSU8vC9O/giphy.gif" alt="code" width="400" height="300">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/4646/original/humanities-to-coding.png" alt="build" width="400" height="300">
    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="https://www.gstatic.com/webp/gallery/1.jpg" alt="feel" width="400" height="300">
                    </div>
                </div>
            </div>
        </div>
        <p>
            <iframe width="400" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
            </iframe><br>
        </p>
    </div> 
    
    <ng-template #loggedOut>
      <!-- -------------------------- -->
        <div id="band" class="container text-center">
            <div class="jumbotron">
                <h1>Happy Coding!</h1>
                <p><em>Place to the people who love to code!! Keep coding</em></p>
            </div>
            <p>We provide timely, specialised veterinary care to injured urban wild animals, rehabilitate them, and then
                release them into their natural or adoptive habitats. Create awareness, amongst citizens of all ages and
                backgrounds, about urban wildlife, and to instil a deep regard for their cohabitation needs and when to
                actively engage in their welfare. Community outreach and education about our local environment and how we
                can enrich and protect it.
                Develop a practise that employs better wildlife care techniques, engaging specialists and veterinarians
                from across the world.</p>
            <br>
            <!-- More Pictures aside section -->
    
            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="https://media.giphy.com/media/cpIvoQSU8vC9O/giphy.gif" alt="code" width="400" height="300">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/4646/original/humanities-to-coding.png" alt="build" width="400" height="300">
    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="https://www.gstatic.com/webp/gallery/1.jpg" alt="feel" width="400" height="300">
                    </div>
                </div>
            </div>
        </div>
        <p>
            <iframe width="400" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
            </iframe><br>
        </p>
        <app-submission></app-submission>
    </ng-template>
    
