p{
  font-size: 15px;
}
.col-md-4{
  width: 500px;
  height: auto;
  background-color: rgb(25, 158, 184)
}

.btn{
  justify-content: baseline;
}
h1{
  margin: 40px;
  color: rgb(25, 158, 184)
}
.card{
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;


}
.card-body{
  height: 300px;

}
.card-deck{
  /* background-color: rgb(25, 158, 184) */
  background-color: rgb(25, 158, 184)

}
/* .container:after{
  height:1000px;
} */
