<mat-grid-list cols="3" rowHeight="20vh">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color"
    class="profile"
  >
    <div class="box">
      <div>
        <mat-card class="card" style="display:block;">
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
            class="profileimage"
            width="195px"
            height="164px"
          />

          <mat-card-content>
            <p>{{ abc.firstName }} {{ abc.lastName }}</p>
          </mat-card-content>
          <p style="opacity:.7">@ {{ abc.userName }}</p>
        </mat-card>
      </div>
      <div>
        <mat-card class="card card2" style="display:block; margin-top: 1vh;">
          <p>
            <!-- Password : {{ abc.password }} -->
            <!-- <input type="text"  value='password'></p> -->
          </p>

          <div [ngSwitch]="bhaak">
            <ng-template [ngSwitchCase]="'bhaak1'">
              <p>Email Id : {{ abc.emailId }}</p>
              <p>list {{ abc.interests.join(", ") }}</p>
            </ng-template>
            <ng-template [ngSwitchCase]="'bhaak2'">
                Email Id :<input type=text value= {{abc.emailId}}>
              <p>list {{ abc.interests.join(", ") }}</p>
            </ng-template>
          </div>
          <button (click)=changemaadi()>Update Profile</button>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
    [style.background]="tiles[1].color"
  >
    <mat-tab-group class="tile1">
      <mat-tab label="Question Attempted">
        <mat-list role="list" *ngFor="let questionA of abc.attemptedQuestion | slice:1;">
          <mat-list-item role="listitem" [routerLink]="['/submission-component']"
            ><i class="fab fa-quora"></i> &nbsp;
            <p>{{ questionA.questionTitle }}</p>
            </mat-list-item
          >
        </mat-list>
      </mat-tab>
      <mat-tab label="Question Posted">
        <mat-list role="list" *ngFor="let questionP of abc.postedQuestion | slice:1;">
          <mat-list-item role="listitem"
            ><i class="fab fa-quora"></i> &nbsp;
            {{ questionP.questionTitle }}</mat-list-item
          >
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>
