.tile1{
  height: 100%;
  width: 80%;
}
.card {
  width: 100%;
  padding: 5%;
  
}
.box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  width: 60%;
}
.box>*:first-child {
  align-self: stretch;
}
.profileimage{
  /* width: 100%; */
  padding: 2vh 2vh 0vh 2vh;
}