.navbar-fixed-top{
    background:black;
}
/* .hello{  
} */
.logo{
    width: 100px;

}
.hero::after{
    height: 800px;
    background: url("/assets/MASHUP-BACK.png");
    background-repeat: no-repeat;
    background-size: cover;
}
p.tagline[_ngcontent-c3][_ngcontent-c3]{
    margin-bottom: 20px;
    margin-top: 20px;
}
.info p{
    font-size: 15px;
}
#contact .form input, #contact .form textarea {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
}